.title{
    text-align: center;
    border-style: outset;
    border-color: white;
    border-radius: 8px;
    margin-right: 30%;
    margin-left: 30%;
    font-family:  monaco, Consolas, "Lucida Console", monospace;
}
.main{
    text-align: center;
    font-size: 14pt;
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    padding-bottom: 2cm;

}
.prev{
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    float: left;
}
.next{
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    float: right;
}
html{height: 100%;}
body {
    background-color: lightgray;
    margin:0%;
    min-height: 100vh;
}
h1 {color: darkslategray;}
p  {color: black;}