.title{
    border-style: outset;
    border-color: white;
    border-radius: 8px;
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    padding: 10vh 10vh;
    width: 90%;
    height: 80%;
}
.selfpic{
    float: left;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.main{
    text-align: center;
    font-size: 14pt;
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    padding-bottom: 2cm;
    float: inline-start;
}
.main a{
    color: black;
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    font-size: large;
}
.prev{
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    float: left;
}
.next{
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    float: right;
}
html{height: 100%;}
body {
    background-color: lightgray;
    margin:0%;
    min-height: 100vh;
}
h1 {color: darkslategray;}
p  {color: black;}