.navbar {
    background-color: gray;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .navbar li {
    float: left;
  }
  .navbar a{
    font-family:  monaco, Consolas, "Lucida Console", monospace;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .navbar a.active {
    background-color: black;
    color: white;
  }